.styleCard {
  width: 230px;
  text-align: center;
  margin: 15px;
  border-bottom: 3px solid #096dd9;
}

.styleCard:hover {
  border-bottom: 3px solid #096dd9;
}

.btn {
  margin: 4px 8px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
